/* Accessible Card
============================================= */
.accessible-card {
	display: block;
	position: relative;
	transition: 0.35s ease all;

	&.is-focused {
		box-shadow: inset 0 0 0 1rem black;
	}
}

.accessible-card__link {

	&:focus {
		outline: none;
	}
}