/* Post Cards
============================================= */
.post-cards {

	&.blocks {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.post-card {
			width: 48%;
		}
	}
}




/* Post Card
============================================= */
.post-card {

	width: 100%;

	img {
		width: 100%;
	}
}