/* includes */
@import "_includes";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
	@extend %body;
}

.wrapper {
	max-width: $desktop-medium-width;
	width: 100%;
	margin: 0 auto;
	position: relative;
}