/* includes */
@import "_includes";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
}

body {
	@extend %body;
}

.wrapper {
	max-width: $desktop-small-width;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.in-mobile {
	display: block;

	@include in-desktop {
		display: none;
	}
}

.in-desktop {
	display: none;

	@include in-desktop {
		display: block;
	}
}