/* Grid
============================================= */
.row {

 	display: block;

 	&.reverse {
 		[class*="col"] {
 			float: right;
 		}
 	}

}




[class*="col"] {

	float: left;

	&.reverse {
		float: right;
	}

}




.center-xs {
	margin: 0 auto;
}
.end-xs {
	[class*="col"] {
		float: right;
	}
}




.first-xs {
	float: right;
}
.last-xs {
	float: left;
}




/* above 556 ============================================= */
@include above-phone {
	.center-sm {
		margin: 0 auto;
	}
	.end-sm {
		[class*="col"] {
			float: right;
		}
	}




	.first-sm {
		float: right;
	}
	.last-sm {
		float: left;
	}
}




/* above 768 ============================================= */
@include above-tablet {
	.center-md {
		margin: 0 auto;
	}
	.end-md {
		[class*="col"] {
			float: right;
		}
	}




	.first-md {
		float: right;
	}
	.last-md {
		float: left;
	}
}





/* above 1200 ============================================= */
@include above-desktop {
	.center-lg {
		margin: 0 auto;
	}
	.end-lg {
		[class*="col"] {
			float: right;
		}
	}




	.first-lg {
		float: right;
	}
	.last-lg {
		float: left;
	}
}


/* above 1600 ============================================= */
@include above-desktop-large {
	.center-xl {
		margin: 0 auto;
	}
	.end-xl {
		[class*="col"] {
			float: right;
		}
	}




	.first-xl {
		float: right;
	}
	.last-xl {
		float: left;
	}
}