/* Grid
============================================= */
.row {

	box-sizing: border-box;
 	display: flex;
 	flex-wrap: wrap;
 	margin-left: $row-gutter-width;
 	margin-right: $row-gutter-width;


 	&.reverse {
 		flex-direction: row-reverse;
 	}

 	&--no-margin {
 		@extend .row;
 		margin-left: 0;
 		margin-right: 0;
 	}

 	.row {
 		margin-left: -$row-gutter-width;
		margin-right: -$row-gutter-width;
 	}

}


[class*="col"]:not(.wp-block-columns) {
	margin-left: $col-gutter-width;
	margin-right: $col-gutter-width;
	margin-bottom: $col-margin-bottom;

	&.reverse {
 		flex-direction: column-reverse;
 	}

 	&--no-margin {
 		margin-left: 0;
 		margin-right: 0;
 	}

 	img {
 		width: 100%;
 	}

}




[class*="col-xs"] {
	box-sizing: border-box;
}




.col-xs {
	width: calc( 100% - #{$col-gutter-width--total} );
}
.col-xs-1 {
	width: calc( #{$width-1} - #{$col-gutter-width--total} );
}
.col-xs-2 {
	width: calc( #{$width-2} - #{$col-gutter-width--total} );
}
.col-xs-3 {
	width: calc( #{$width-3} - #{$col-gutter-width--total} );
}
.col-xs-4 {
	width: calc( #{$width-4} - #{$col-gutter-width--total} );
}
.col-xs-5 {
	width: calc( #{$width-5} - #{$col-gutter-width--total} );
}
.col-xs-6 {
	width: calc( #{$width-6} - #{$col-gutter-width--total} );
}
.col-xs-7 {
	width: calc( #{$width-7} - #{$col-gutter-width--total} );
}
.col-xs-8 {
	width: calc( #{$width-8} - #{$col-gutter-width--total} );
}
.col-xs-9 {
	width: calc( #{$width-9} - #{$col-gutter-width--total} );
}
.col-xs-10 {
	width: calc( #{$width-10} - #{$col-gutter-width--total} );
}
.col-xs-11 {
	width: calc( #{$width-11} - #{$col-gutter-width--total} );
}
.col-xs-12 {
	width: calc( #{$width-12} - #{$col-gutter-width--total} );
}




.col-xs-offset-0 {
	margin-left: 0;
}
.col-xs-offset-1 {
	margin-left: $width-1;
}
.col-xs-offset-2 {
	margin-left: $width-2;
}
.col-xs-offset-3 {
	margin-left: $width-3;
}
.col-xs-offset-4 {
	margin-left: $width-4;
}
.col-xs-offset-5 {
	margin-left: $width-5;
}
.col-xs-offset-6 {
	margin-left: $width-6;
}
.col-xs-offset-7 {
	margin-left: $width-7;
}
.col-xs-offset-8 {
	margin-left: $width-8;
}
.col-xs-offset-9 {
	margin-left: $width-9;
}
.col-xs-offset-10 {
	margin-left: $width-10;
}
.col-xs-offset-11 {
	margin-left: $width-11;
}
.col-xs-offset-12 {
	margin-left: $width-12;
}




.col-xs-neg-offset-0 {
	margin-left: 0;
}
.col-xs-neg-offset-1 {
	margin-left: -$width-1;
}
.col-xs-neg-offset-2 {
	margin-left: -$width-2;
}
.col-xs-neg-offset-3 {
	margin-left: -$width-3;
}
.col-xs-neg-offset-4 {
	margin-left: -$width-4;
}
.col-xs-neg-offset-5 {
	margin-left: -$width-5;
}
.col-xs-neg-offset-6 {
	margin-left: -$width-6;
}
.col-xs-neg-offset-7 {
	margin-left: -$width-7;
}
.col-xs-neg-offset-8 {
	margin-left: -$width-8;
}
.col-xs-neg-offset-9 {
	margin-left: -$width-9;
}
.col-xs-neg-offset-10 {
	margin-left: -$width-10;
}
.col-xs-neg-offset-11 {
	margin-left: -$width-11;
}
.col-xs-neg-offset-12 {
	margin-left: -$width-12;
}




.start-xs {
	justify-content: flex-start;
}
.center-xs {
	justify-content: center;
}
.around-xs {
	justify-content: space-between;
}
.end-xs {
	justify-content: flex-end;
}




.top-xs {
	align-items: flex-start;
}
.center-xs {
	align-items: center;
}
.around-xs {
	align-items: space-between;
}
.stretch-xs {
	align-items: stretch;
}
.bottom-xs {
	align-items: flex-end;
}




.first-xs {
	order: -1;
}
.last-xs {
	order: 1;
}




/* above 556 ============================================= */
@include above-phone {
	[class*="col-sm"] {
		box-sizing: border-box;
		margin-left: $col-gutter-width;
		margin-right: $col-gutter-width;
	}




	.col-sm {
		width: calc( 100% - #{$col-gutter-width--total} );
	}
	.col-sm-1 {
		width: calc( #{$width-1} - #{$col-gutter-width--total} );
	}
	.col-sm-2 {
		width: calc( #{$width-2} - #{$col-gutter-width--total} );
	}
	.col-sm-3 {
		width: calc( #{$width-3} - #{$col-gutter-width--total} );
	}
	.col-sm-4 {
		width: calc( #{$width-4} - #{$col-gutter-width--total} );
	}
	.col-sm-5 {
		width: calc( #{$width-5} - #{$col-gutter-width--total} );
	}
	.col-sm-6 {
		width: calc( #{$width-6} - #{$col-gutter-width--total} );
	}
	.col-sm-7 {
		width: calc( #{$width-7} - #{$col-gutter-width--total} );
	}
	.col-sm-8 {
		width: calc( #{$width-8} - #{$col-gutter-width--total} );
	}
	.col-sm-9 {
		width: calc( #{$width-9} - #{$col-gutter-width--total} );
	}
	.col-sm-10 {
		width: calc( #{$width-10} - #{$col-gutter-width--total} );
	}
	.col-sm-11 {
		width: calc( #{$width-11} - #{$col-gutter-width--total} );
	}
	.col-sm-12 {
		width: calc( #{$width-12} - #{$col-gutter-width--total} );
	}




	.col-sm-offset-0 {
		margin-left: 0;
	}
	.col-sm-offset-1 {
		margin-left: $width-1;
	}
	.col-sm-offset-2 {
		margin-left: $width-2;
	}
	.col-sm-offset-3 {
		margin-left: $width-3;
	}
	.col-sm-offset-4 {
		margin-left: $width-4;
	}
	.col-sm-offset-5 {
		margin-left: $width-5;
	}
	.col-sm-offset-6 {
		margin-left: $width-6;
	}
	.col-sm-offset-7 {
		margin-left: $width-7;
	}
	.col-sm-offset-8 {
		margin-left: $width-8;
	}
	.col-sm-offset-9 {
		margin-left: $width-9;
	}
	.col-sm-offset-10 {
		margin-left: $width-10;
	}
	.col-sm-offset-11 {
		margin-left: $width-11;
	}
	.col-sm-offset-12 {
		margin-left: $width-12;
	}




	.col-sm-neg-offset-0 {
		margin-left: 0;
	}
	.col-sm-neg-offset-1 {
		margin-left: -$width-1;
	}
	.col-sm-neg-offset-2 {
		margin-left: -$width-2;
	}
	.col-sm-neg-offset-3 {
		margin-left: -$width-3;
	}
	.col-sm-neg-offset-4 {
		margin-left: -$width-4;
	}
	.col-sm-neg-offset-5 {
		margin-left: -$width-5;
	}
	.col-sm-neg-offset-6 {
		margin-left: -$width-6;
	}
	.col-sm-neg-offset-7 {
		margin-left: -$width-7;
	}
	.col-sm-neg-offset-8 {
		margin-left: -$width-8;
	}
	.col-sm-neg-offset-9 {
		margin-left: -$width-9;
	}
	.col-sm-neg-offset-10 {
		margin-left: -$width-10;
	}
	.col-sm-neg-offset-11 {
		margin-left: -$width-11;
	}
	.col-sm-neg-offset-12 {
		margin-left: -$width-12;
	}




	.start-sm {
		justify-content: flex-start;
	}
	.center-sm {
		justify-content: center;
	}
	.around-sm {
		justify-content: space-between;
	}
	.end-sm {
		justify-content: flex-end;
	}




	.top-sm {
		align-items: flex-start;
	}
	.center-sm {
		align-items: center;
	}
	.around-sm {
		align-items: space-between;
	}
	.stretch-sm {
		align-items: stretch;
	}
	.bottom-sm {
		align-items: flex-end;
	}




	.first-sm {
		order: -1;
	}
	.last-sm {
		order: 1;
	}
}




/* above 768 ============================================= */
@include above-tablet {
	[class*="col-md"] {
		box-sizing: border-box;
		margin-left: $col-gutter-width;
		margin-right: $col-gutter-width;
	}




	.col-md {
		width: calc( 100% - #{$col-gutter-width--total} );
	}
	.col-md-1 {
		width: calc( #{$width-1} - #{$col-gutter-width--total} );
	}
	.col-md-2 {
		width: calc( #{$width-2} - #{$col-gutter-width--total} );
	}
	.col-md-3 {
		width: calc( #{$width-3} - #{$col-gutter-width--total} );
	}
	.col-md-4 {
		width: calc( #{$width-4} - #{$col-gutter-width--total} );
	}
	.col-md-5 {
		width: calc( #{$width-5} - #{$col-gutter-width--total} );
	}
	.col-md-6 {
		width: calc( #{$width-6} - #{$col-gutter-width--total} );
	}
	.col-md-7 {
		width: calc( #{$width-7} - #{$col-gutter-width--total} );
	}
	.col-md-8 {
		width: calc( #{$width-8} - #{$col-gutter-width--total} );
	}
	.col-md-9 {
		width: calc( #{$width-9} - #{$col-gutter-width--total} );
	}
	.col-md-10 {
		width: calc( #{$width-10} - #{$col-gutter-width--total} );
	}
	.col-md-11 {
		width: calc( #{$width-11} - #{$col-gutter-width--total} );
	}
	.col-md-12 {
		width: calc( #{$width-12} - #{$col-gutter-width--total} );
	}




	.col-md-offset-0 {
		margin-left: 0;
	}
	.col-md-offset-1 {
		margin-left: $width-1;
	}
	.col-md-offset-2 {
		margin-left: $width-2;
	}
	.col-md-offset-3 {
		margin-left: $width-3;
	}
	.col-md-offset-4 {
		margin-left: $width-4;
	}
	.col-md-offset-5 {
		margin-left: $width-5;
	}
	.col-md-offset-6 {
		margin-left: $width-6;
	}
	.col-md-offset-7 {
		margin-left: $width-7;
	}
	.col-md-offset-8 {
		margin-left: $width-8;
	}
	.col-md-offset-9 {
		margin-left: $width-9;
	}
	.col-md-offset-10 {
		margin-left: $width-10;
	}
	.col-md-offset-11 {
		margin-left: $width-11;
	}
	.col-md-offset-12 {
		margin-left: $width-12;
	}




	.col-md-neg-offset-0 {
		width: calc( 100% - #{$col-gutter-width--total} );
	}
	.col-md-neg-offset-1 {
		margin-left: -$width-1;
	}
	.col-md-neg-offset-2 {
		margin-left: -$width-2;
	}
	.col-md-neg-offset-3 {
		margin-left: -$width-3;
	}
	.col-md-neg-offset-4 {
		margin-left: -$width-4;
	}
	.col-md-neg-offset-5 {
		margin-left: -$width-5;
	}
	.col-md-neg-offset-6 {
		margin-left: -$width-6;
	}
	.col-md-neg-offset-7 {
		margin-left: -$width-7;
	}
	.col-md-neg-offset-8 {
		margin-left: -$width-8;
	}
	.col-md-neg-offset-9 {
		margin-left: -$width-9;
	}
	.col-md-neg-offset-10 {
		margin-left: -$width-10;
	}
	.col-md-neg-offset-11 {
		margin-left: -$width-11;
	}
	.col-md-neg-offset-12 {
		margin-left: -$width-12;
	}




	.start-md {
		justify-content: flex-start;
	}
	.center-md {
		justify-content: center;
	}
	.around-md {
		justify-content: space-between;
	}
	.end-md {
		justify-content: flex-end;
	}




	.top-md {
		align-items: flex-start;
	}
	.center-md {
		align-items: center;
	}
	.around-md {
		align-items: space-between;
	}
	.stretch-md {
		align-items: stretch;
	}
	.bottom-md {
		align-items: flex-end;
	}




	.first-md {
		order: -1;
	}
	.last-md {
		order: 1;
	}
}





/* above 1200 ============================================= */
@include above-desktop {
	[class*="col-lg"] {
		box-sizing: border-box;
		margin-left: $col-gutter-width;
		margin-right: $col-gutter-width;
	}




	.col-lg {
		width: calc( 100% - #{$col-gutter-width--total} );
	}
	.col-lg-1 {
		width: calc( #{$width-1} - #{$col-gutter-width--total} );
	}
	.col-lg-2 {
		width: calc( #{$width-2} - #{$col-gutter-width--total} );
	}
	.col-lg-3 {
		width: calc( #{$width-3} - #{$col-gutter-width--total} );
	}
	.col-lg-4 {
		width: calc( #{$width-4} - #{$col-gutter-width--total} );
	}
	.col-lg-5 {
		width: calc( #{$width-5} - #{$col-gutter-width--total} );
	}
	.col-lg-6 {
		width: calc( #{$width-6} - #{$col-gutter-width--total} );
	}
	.col-lg-7 {
		width: calc( #{$width-7} - #{$col-gutter-width--total} );
	}
	.col-lg-8 {
		width: calc( #{$width-8} - #{$col-gutter-width--total} );
	}
	.col-lg-9 {
		width: calc( #{$width-9} - #{$col-gutter-width--total} );
	}
	.col-lg-10 {
		width: calc( #{$width-10} - #{$col-gutter-width--total} );
	}
	.col-lg-11 {
		width: calc( #{$width-11} - #{$col-gutter-width--total} );
	}
	.col-lg-12 {
		width: calc( #{$width-12} - #{$col-gutter-width--total} );
	}




	.col-lg-offset-0 {
		margin-left: 0;
	}
	.col-lg-offset-1 {
		margin-left: $width-1;
	}
	.col-lg-offset-2 {
		margin-left: $width-2;
	}
	.col-lg-offset-3 {
		margin-left: $width-3;
	}
	.col-lg-offset-4 {
		margin-left: $width-4;
	}
	.col-lg-offset-5 {
		margin-left: $width-5;
	}
	.col-lg-offset-6 {
		margin-left: $width-6;
	}
	.col-lg-offset-7 {
		margin-left: $width-7;
	}
	.col-lg-offset-8 {
		margin-left: $width-8;
	}
	.col-lg-offset-9 {
		margin-left: $width-9;
	}
	.col-lg-offset-10 {
		margin-left: $width-10;
	}
	.col-lg-offset-11 {
		margin-left: $width-11;
	}
	.col-lg-offset-12 {
		margin-left: $width-12;
	}




	.col-lg-neg-offset-0 {
		margin-left: 0;
	}
	.col-lg-neg-offset-1 {
		margin-left: -$width-1;
	}
	.col-lg-neg-offset-2 {
		margin-left: -$width-2;
	}
	.col-lg-neg-offset-3 {
		margin-left: -$width-3;
	}
	.col-lg-neg-offset-4 {
		margin-left: -$width-4;
	}
	.col-lg-neg-offset-5 {
		margin-left: -$width-5;
	}
	.col-lg-neg-offset-6 {
		margin-left: -$width-6;
	}
	.col-lg-neg-offset-7 {
		margin-left: -$width-7;
	}
	.col-lg-neg-offset-8 {
		margin-left: -$width-8;
	}
	.col-lg-neg-offset-9 {
		margin-left: -$width-9;
	}
	.col-lg-neg-offset-10 {
		margin-left: -$width-10;
	}
	.col-lg-neg-offset-11 {
		margin-left: -$width-11;
	}
	.col-lg-neg-offset-12 {
		margin-left: -$width-12;
	}




	.start-lg {
		justify-content: flex-start;
	}
	.center-lg {
		justify-content: center;
	}
	.around-lg {
		justify-content: space-between;
	}
	.end-lg {
		justify-content: flex-end;
	}




	.top-lg {
		align-items: flex-start;
	}
	.center-lg {
		align-items: center;
	}
	.around-lg {
		align-items: space-between;
	}
	.stretch-lg {
		align-items: stretch;
	}
	.bottom-lg {
		align-items: flex-end;
	}




	.first-lg {
		order: -1;
	}
	.last-lg {
		order: 1;
	}
}


/* above 1600 ============================================= */
@include above-desktop-large {
	[class*="col-xl"] {
		box-sizing: border-box;
		margin-left: $col-gutter-width;
		margin-right: $col-gutter-width;
	}




	.col-xl {
		width: 100%;
	}
	.col-xl-1 {
		width: $width-1;
	}
	.col-xl-2 {
		width: $width-2;
	}
	.col-xl-3 {
		width: $width-3;
	}
	.col-xl-4 {
		width: $width-4;
	}
	.col-xl-5 {
		width: $width-5;
	}
	.col-xl-6 {
		width: $width-6;
	}
	.col-xl-7 {
		width: $width-7;
	}
	.col-xl-8 {
		width: $width-8;
	}
	.col-xl-9 {
		width: $width-9;
	}
	.col-xl-10 {
		width: $width-10;
	}
	.col-xl-11 {
		width: $width-11;
	}
	.col-xl-12 {
		width: $width-12;
	}




	.col-xl-offset-0 {
		margin-left: 0;
	}
	.col-xl-offset-1 {
		margin-left: $width-1;
	}
	.col-xl-offset-2 {
		margin-left: $width-2;
	}
	.col-xl-offset-3 {
		margin-left: $width-3;
	}
	.col-xl-offset-4 {
		margin-left: $width-4;
	}
	.col-xl-offset-5 {
		margin-left: $width-5;
	}
	.col-xl-offset-6 {
		margin-left: $width-6;
	}
	.col-xl-offset-7 {
		margin-left: $width-7;
	}
	.col-xl-offset-8 {
		margin-left: $width-8;
	}
	.col-xl-offset-9 {
		margin-left: $width-9;
	}
	.col-xl-offset-10 {
		margin-left: $width-10;
	}
	.col-xl-offset-11 {
		margin-left: $width-11;
	}
	.col-xl-offset-12 {
		margin-left: $width-12;
	}




	.start-xl {
		justify-content: flex-start;
	}
	.center-xl {
		justify-content: center;
	}
	.around-xl {
		justify-content: space-between;
	}
	.end-xl {
		justify-content: flex-end;
	}




	.top-xl {
		align-items: flex-start;
	}
	.center-xl {
		align-items: center;
	}
	.around-xl {
		align-items: space-between;
	}
	.stretch-xl {
		align-items: stretch;
	}
	.bottom-xl {
		align-items: flex-end;
	}




	.first-xl {
		order: -1;
	}
	.last-xl {
		order: 1;
	}
}