/* Typographic
============================================= */
@mixin typesmooth {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering:optimizeLegibility;
}



/* Responsive
============================================= */
@mixin in-mobile {
	@media (max-width: $tablet-width - 1) {
		@content;
	}
}

@mixin in-tablet {
	@media (min-width: $tablet-width) {
	@content;
	}
}

@mixin in-desktop {
	@media (min-width: $desktop-small-width) {
		@content;
	}
}

@mixin above-phone {
	@media (min-width: $phone-width) {
		@content;
	}
}

@mixin above-phone-large {
	@media (min-width: $phone-large-width) {
		@content;
	}
}

@mixin above-tablet-small {
	@media (min-width: $tablet-small-width) {
		@content;
	}
}

@mixin above-tablet {
	@media (min-width: $tablet-width) {
		@content;
	}
}

@mixin above-tablet-large {
	@media (min-width: $tablet-large-width) {
		@content;
	}
}

@mixin above-tablet-xlarge {
	@media (min-width: $desktop-width) {
		@content;
	}
}

@mixin above-desktop {
	@media (min-width: $desktop-small-width) {
		@content;
	}
}

@mixin above-desktop-medium {
	@media (min-width: $desktop-medium-width) {
		@content;
	}
}

@mixin above-desktop-large {
	@media (min-width: $desktop-large-width) {
		@content;
	}
}

@mixin above-desktop-xlarge {
	@media (min-width: $desktop-xlarge-width) {
		@content;
	}
}