/* Search Highlight
============================================= */
.highlight {
	background: yellow;
	padding: 0 3px;

	&--sub {
		background: rgba(yellow, 0.5);
		padding: 0 3px;
	}

	.highlight--sub {
		background: none;
		padding: 0;
	}
}